<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add attraction</title>
</head>
<body>

<h2>Add new attraction</h2>

<form th:action="@{/attractions/save}" th:object="${attraction}" method="post">

    <label>Name:</label>
    <input type="text" th:field="*{name}"/>

    <br><br>

    <label>Description:</label>
    <input type="text" th:field="*{description}"/>

    <label>By</label>
    <select th:field="*{city}">
        <option value="" disabled selected>Vælg by...</option>
        <option th:each="c : ${allCities}" th:value="${c}" th:text="${c}"></option>
    </select>

    <button type="submit">add</button>

    <div th:each="tag : ${allTags}">
        <label>
            <input type="checkbox" th:field="*{tags}" th:value="${tag}"/>
            <span th:text="${tag}"></span>
        </label>
    </div>
</form>
<br>
<a href="/attractions">Back to attractions</a>
</body>
</html>