<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add attraction</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h2>Tilføj ny attraktion</h2>

<form th:action="@{/attractions/save}" th:object="${attraction}" method="post">

    <label>Navn:</label>
    <input type="text" th:field="*{name}"/>

    <br><br>

    <label>Beskrivelse:</label>
    <input type="text" th:field="*{description}"/>

    <button type="submit">tilføj</button>

    <div th:each="tag : ${allTags}">
        <label>
            <input type="checkbox" th:field="*{tags}" th:value="${tag}"/>
            <span th:text="${tag}"></span>
        </label>
    </div>
</form>
<br>
<a href="/attractions">Tilbage til alle attraktioner</a>
</body>
</html>