<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Attractions</title>
</head>
<body>
<h1>All attractions</h1>
<table>
    <tr th:if="${attractions.isEmpty()}">There is no attractions yet</tr>
    <tr th:if="${!attractions.isEmpty()}">
        <th>name</th>
        <th>description</th>
        <th>tags</th>
    </tr>
    <tr th:each="attraction : ${attractions}">
        <td th:text="${attraction.name}"></td>
        <td th:text="${attraction.description}"></td>
        <td>
        <form th:action="@{/attractions/tags/{name}(name=${attraction.name})}" method="get">
        <button type="submit">Tags</button>
    </form>
        </td>
    </tr>
</table>
<form th:action="@{/attractions/add}" method="get">
    <button type="submit">Add new attraction</button>
</form>
</body>
</html>