<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vis Attraktioner</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>Turistattraktioner</h1>

<table border="1">
    <thead>
    <tr>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>Tags</th>
        <th>Slet</th>
        <th>Ændre</th>
    </tr>
    </thead>

    <tbody>
    <tr th:if="${attractions.isEmpty()}">
        <td colspan="5">There are no attractions yet</td>
    </tr>

    <tr th:each="attraction : ${attractions}" th:unless="${attractions.isEmpty()}">
        <td th:text="${attraction.name}"></td>
        <td th:text="${attraction.description}"></td>

        <td>
            <form th:action="@{/attractions/{name}/tags(name=${attraction.name})}" method ="get">
                <button type="submit">Tags</button>
            </form>
        </td>

        <td>
            <form th:action="@{/attractions/delete/{name}(name=${attraction.name})}" method="post">
                <button type="submit">Slet</button>
            </form>
        </td>

        <td>
            <form th:action="@{/attractions/{name}/edit(name=${attraction.name})}" method ="get">
                <button type="submit">Ændre</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<form th:action="@{/attractions/add}" method="get">
    <button type="submit">Tilføj ny attraktion</button>
</form>

</body>
</html>