<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attraktion</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1 th:text="${attraction.name}"></h1>
<p th:text="${attraction.description}"></p>

<a href="/attractions">back</a>

<h3>Tags</h3>

<div th:if="${attraction.tags.isEmpty()}">
    <p>No tags yet</p>
</div>

<ul th:if="${!attraction.tags.isEmpty()}">
    <li th:each="tag : ${attraction.tags}" th:text="${tag}"></li>
</ul>
</body>
</html>