<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<form th:action="@{/attractions/update}" th:object="${attraction}" method="post">

    <input type="hidden" name="oldName" th:value="${oldName}"/>

    <label>Navn</label>
    <input type="text" th:field="*{name}" readonly/>

    <label>Beskrivelse</label>
    <input type="text" th:field="*{description}"/>

    <label>By</label>
    <select th:field="*{city}">
        <option value="" disabled selected>Vælg by...</option>
        <option th:each="c : ${allCities}" th:value="${c}" th:text="${c}"></option>
    </select>

    <p>Tags:</p>
    <div th:each="tag : ${allTags}">
        <label>
            <input type="checkbox" th:field="*{tags}" th:value="${tag}"/>
            <span th:text="${tag}"></span>
        </label>
        <br>
    </div>

    <br><br>

    <button type="submit">Gem ændringer</button>

</form>
</body>
</html>